<!-- app-dynamic-select.component.html -->

<mat-form-field class="full-width" [appearance]="appearance" fxFlex>
  <mat-label *ngIf="isLabel">{{ label }}</mat-label>
  <mat-select
    [compareWith]="compareWithFn"
    [formControl]="selectFormControl"
    (opened)="open()"
    (closed)="close()"
    [attr.disabled]="isDisabled"
    [required]="isRequired"
    placeholder="{{ label }}">
    <ng-container *ngIf="isSearch">
      <div class="search-option">
        <mat-icon class="search-icon" matPrefix aria-label="Search Icon">search</mat-icon>
        <input matInput tabindex="-1" class="search-input" [(ngModel)]="inputSearch" #searchInput (keydown)="$event.stopPropagation()"
          placeholder="{{ plaseholderInputSearch }}" spellcheck="false" autocomplete="off">
        <mat-icon *ngIf="searchInput?.value?.length > 0" matSuffix class="clear-icon" aria-label="Clear" (click)="clear($event)">
          clear
        </mat-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="optionsData !== undefined; else loading">
      <mat-option>-- {{ 'Nenhum' }} --</mat-option>
      <mat-option *ngFor="let option of optionsData" [value]="option">
        {{ option[optionColumn[0]] }} <span *ngIf="optionColumn.length > 1"> | {{ option[optionColumn[optionColumn.length > 1 ? 1 : 0]] | translate }}</span>
        <span *ngIf="option.tags && option.tags.length > 0"> | {{ formatTags(option.tags) }}</span>
      </mat-option>
    </ng-container>
    <ng-template #loading>
      <mat-option disabled>
        <div class="deferred-select-placeholder-container">
          <span>{{ 'Loading' }}</span>
          <mat-spinner class="spinner" diameter="20"></mat-spinner>
        </div>
      </mat-option>
    </ng-template>
  </mat-select>
  <mat-error *ngIf="isRequired && isErrorShow">
    <ng-content select="[matErrors]"></ng-content>
  </mat-error>
</mat-form-field>
