<div [@fadeInOut]>
  <div class="panel-header">
    <div class="header text-center">
      <h4 class="title"></h4>
    </div>
  </div>

  <app-dynamic-panel-body [title]="true" [titleLabel]="''" [showBackground]="true"
    [backgroundImage]="'assets/images/background.jpg'">

    <div fxLayout="row" fxLayoutAlign="center" class="center-card">
      <mat-card fxFlex="80" class="main-content">
        <mat-card-content class="container">
          <h3 class="text-ajust">Champions List</h3>
          <ag-grid-angular
            style="width: 100%; height: 500px;"
            class="ag-theme-alpine"
            [rowData]="championsList"
            [frameworkComponents]="frameworkComponents"
            [columnDefs]="columnDefs"
            [defaultColDef]="{ sortable: true, filter: true }">
          </ag-grid-angular>
        </mat-card-content>
      </mat-card>
    </div>

  </app-dynamic-panel-body>
</div>



