<div [@fadeInOut]>
  <div class="panel-header">
    <div class="header text-center">
      <h4 class="title"></h4>
    </div>
  </div>

  <app-dynamic-panel-body [title]="true" [titleLabel]="'Avisos'">
    <div class="container">
      <h1>Champions List</h1>
      <ag-grid-angular
        style="width: 100%; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="champions"
        [columnDefs]="columnDefs"
        [defaultColDef]="{ sortable: true, filter: true }">
      </ag-grid-angular>
    </div>
  </app-dynamic-panel-body>

</div>
