.container {
  padding: 20px;
  margin-top: 8px;
}

.main-content{
  background-color: #060E1F;
}

.center-card{
  margin-top: 94px !important;
  max-height: 60% !important;
}

.text-ajust{
  color: white;
}
