<div class="logo">
  <a href="#" class="simple-text logo-normal">
    <img src="assets/images/logo-small.png" alt="" />
  </a>
</div>

<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['/home']">
        <mat-icon fontSet="fa" fontIcon="fa-home" fxLayoutAlign="start center"></mat-icon>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a class="link" [routerLink]="['/champions-list']">
        <mat-icon fontSet="fa" fontIcon="fa-users" fxLayoutAlign="start center"></mat-icon>
        <p>Champions List</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a class="link" [routerLink]="['/summoner-list']">
        <mat-icon fontSet="fa" fontIcon="fa-rebel" fxLayoutAlign="start center"></mat-icon>
        <p>Summoner Spells</p>
      </a>
    </li>

  </ul>
</div>
