.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 111px;
}

.card {
  width: 373px;;
  height: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  font-size: 14px;
  margin-top: 10px;
}

.main-content{
  background-color: #060E1F;
}
.text-ajust{
  color: white;
}

.card-background {
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
}

.overlay h2, .overlay p {
  margin: 0;
}

.center-card{
  margin-top: 94px !important;
  max-height: 60% !important;
}

.description{
  font-size: 16px;
}
.text-right-light{
  font-weight: 200;
  color: #C9AA71;

}
