<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
    </div>
    <button class="navbar-toggler" type="button"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav userLogin">
        <li class="nav-item">
          <mat-nav-list class="list-horizontal">
            <mat-list-item>
              <button mat-menu-item matTooltip="Active User!">
                <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon>
                 Your Name
              </button>
            </mat-list-item>
            <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item >
                <mat-icon fontSet="fa" fontIcon="fa-sign-out"></mat-icon>

              </button>
            </mat-menu>
          </mat-nav-list>
        </li>
      </ul>
    </div>
  </div>
</nav>
