.mat-raised-button {
  margin-right: 5px !important;
}

.mat-fab.mat-success,
.mat-flat-button.mat-success,
.mat-mini-fab.mat-success,
.mat-raised-button.mat-success {
  background-color: #3fb571;
}
.mat-fab.mat-success,
.mat-flat-button.mat-success,
.mat-mini-fab.mat-success,
.mat-raised-button.mat-success {
  color: #fff;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #888888;
}
