.mat-toolbar-single-row {
  margin: 5px 0 5px !important;
  padding: 0 5px!important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 65px;
  margin-bottom: 0px;
  box-shadow: none !important;
}
