@media (min-width: 768px) {
  dl {
    margin-top: 0;
    margin-bottom: 0;
  }
  .dl-horizontal dt {
    float: left;
    width: 38px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 44px;
    margin-bottom: 0;
    padding: 0;
  }
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}

.dl-horizontal dd:after {
  clear: both;
}
