<h2 mat-dialog-title> View Champion</h2>

<form (focus)="$event.stopPropagation();">

  <mat-dialog-content fxLayout="column" (focus)="$event.stopPropagation();">

    <!-- <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px" fxLayoutAlign="center center">
      <div fxFlex="33">

      </div>

      <div fxFlex="33">

      </div>

      <div fxFlex="33">

      </div>
    </div> -->

    <div class="topFormField" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px"
     fxLayoutAlign="center">

      <div class="section_02" fxFlex="50" *ngIf="championImageUrl">
        <div fxLayout="row"  fxLayoutAlign="center">
          <div fxFlex="80">
            <img [src]="championImageUrl" alt="{{this.data['data'].name}}" width="100" height="100">
          </div>
        </div>

      </div>

      <div class="section_01" fxFlex="50">
        <dl class="dl-horizontal">
          <dt>Id:</dt>
          <dd>{{this.data['data'].id}}</dd>
          <dt>Name:</dt>
          <dd>{{this.data['data'].name}}</dd>
          <dt>Tags:</dt>
          <dd>{{this.data['data'].tags}}</dd>
          <dt>Title</dt>
          <dd>{{this.data['data'].title}}</dd>
        </dl>
      </div>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row">
    <div fxFlex align="end">
      <button type="button" mat-raised-button mat-dialog-close class="defaul">Cancel</button>
    </div>
  </mat-dialog-actions>

</form>
